.container {
	display: flex;
	justify-content: space-around;
}

.container>div {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid gray;
}

.container>div:hover {
	border: 1px solid currentColor;
	color: rgb(48, 103, 180);
}

.container>div.disabled {
	color: slategray;
	border: 1px solid slategray !important;
	opacity: 0.8;
}
